div ul li h1 article body{
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}


.whole-tab {
  float: left;
  margin-left: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin:auto;
}

.tab-header{
  float: left;
  text-align: center;

  width: 113px;
  background-color: lightgreen;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
}

.tab-content{
  display: block;
  text-align: center;
  float: left;
  width: 188px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 100px;
  padding: 20px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


.header-weather {
  background-color: yellow;
  padding: 10px;
  text-align: center;
}

.header-clock {
  background-color: tan;
  text-align: center;
  padding: 10px;
}

.all-widgets{
  width: 1100px
}


.clock-div {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  min-height: 140px;
}

.clock-ul {
  padding: 5px;
  border-top: 1px solid black;

}


.header-auto {
  background-color: pink;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}

input {

  margin:auto;
  margin-top: 10px;
  display:block
}

h1 {
  margin: 0;
}
