div ul h1 article body{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*h1 {

}*/

.whole-tab {
  width: 450px;
}

ul {
  float: left;
}

.tab-header{
  float: left;
  text-align: center;
  /*display: block;*/
  width: 200px;
  background-color: lightgreen;
  /*margin:auto;*/
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
}

.tab-content{
  display: block;
  margin: auto;
  text-align: center;
  /*border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;*/
}

.group {
  content: "";
  display: block;
  clear: both;
}
